.DS_Store

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# python cache
__pycache__
*.pyc
*.pyo

# django etc
migrations
media
static
db.sqlite3

# virtualize
venv/

# test
/tests/e2e/reports/
selenium-debug.log
chromedriver.log
geckodriver.log
