<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>To-Do lists</title>
</head>

<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-3 p-5 mb-4 bg-light rounded-3">
            <div class="text-center container-fluid py-5">
                <h1 class="mb-4">{% block header_text %}{% endblock %}</h1>
                <form method="POST" action="{% block form_action %}{% endblock %}">
                    <input name="item_text" id="id_new_item" type="text" class="form-control"
                           placeholder="작업 아이템 입력"/>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-3">
            {% block table %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
